<!-- {% extends 'base.html' %}

{% block content%}
        <h1>Let's play Janken!</h1>
        <h2>Add your names below.</h2>

        <form action ="/add-players" method="post">
            <label for="First Player Name">Name 1</form>
            <input type="text" name='name1' id="name1">    
            <label for="Second Player Name">Name 2</form>
            <input type="text" name=name2 id="name2"> 
            <input type ="submit" value ="Add Players">
        </form>


{% endblock %} -->