{% extends 'base.html' %}

{% block content%}

        <h1>Let's play Janken!</h1>
        <h2>Add your names below.</h2>

        <form action ="/add-players" method="post">
            <label for="name1">Name 1</form>
            <input type="text" name='name1' id="name1">    
            <label for="name2">Name 2</form>
            <input type="text" name='name2' id="name2">   
            <input type ="submit" value ="Add Players">
        </form>


        {% for player in players %}
        <div>
            <p>
                {{ player.name }}

            </p>
        </div>
        {% endfor %}


        <!-- <h1>Let's play!</h1>
        <form action="/play-multiplayer" method="post">
        <label for='first-player-choice'> First Player Choice</label>
        <input type="text" name="player-1-choice" id="player-1-choice">
        <label for='second-player-choice'> Second Player Choice</label>
        <input type="text" name="player-2-choice" id="player-2-choice">
        <input type ="submit" value ="Play Janken!">
        
        </form>
        {{play-multiplayer}} -->

{% endblock %}
